{% extends "base.html" %}

{% block title %}About - Techno Tinker{% endblock %}

{% block content %}
<div class="about-section">
    <div class="about-content">
        <h1>Python</h1>


        <!-- Python Snippet -->
        <div class="code-snippet">
            <pre>
<span class="code">Name</span> = "Techno Tinker"
<span class="code">Coding_Lang</span> = "Python | Php"
<span class="code">Hobby</span> = "Coding"
<span class="code">Job</span> = "School Student"

<span class="dynamic-print">print(f"Hi I am {Name}, an {Coding_Lang} Backend Developer! My hobby is {Hobby} and I'm a {Job}.")</span>
            </pre>
        </div>

        <h2>PHP</h2>

        <!-- PHP Snippet -->
        <div class="code-snippet">
            <pre>
&lt;?php
$<span class="code">Name</span> = "Techno Tinker";
$<span class="code">Coding_Lang</span> = "Python | Php";
$<span class="code">Hobby</span> = "Coding";
$<span class="code">Job</span> = "School Student";

echo "Hi I am $<span class="code">Name</span>, an $<span class="code">Coding_Lang</span> Backend Developer! My hobby is $<span class="code">Hobby</span> and I'm a $<span class="code">Job</span>.";
?&gt;
            </pre>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <p>Coded by <span>Techno Tinker</span> using <span>Flask & Python</span></p>
    <p>© 2024 Techno Tinker</p>
</footer>
{% endblock %}
